Repository fernandoseguim/about-me: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint src/* --fix

add css reset and main style
  src/App/style.css
  src/assets/css/main-style.css
  src/assets/css/main.css
  src/assets/css/reset.css
Due: pretty-quick --staged

create about container
  src/assets/images/me.png
  src/containers/About/index.jsx
  src/containers/About/style.css
Due: pretty-quick --staged, eslint src/* --fix

create app entrypoint
  package-lock.json
  package.json
  src/App/index.jsx
  src/index.jsx
Due: pretty-quick --staged, eslint src/* --fix

add azure pipeline setup
  azure-pipelines.yml
Due: none

add web.config
  public/web.config
Due: none

update icon
  public/favicon.ico
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  pretty-quick --staged: (any of: *.css) or (any of: *.{js,jsx})
  eslint src/* --fix: any of: *.{js,jsx}
